body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.mejs-overlay-error.mejs-layer{
    display: none !important;
}

.grey {
    color: rgba(255, 255, 255, 0.87);
    background-color: #363c43;
}

.mejs-controls .mejs-button button{
    color: rgba(255, 255, 255, 0.87);
}

.mejs-track-actions, .mejs-volume-button, .mejs-toggle-playlist-button{
    display: none;
}