body{
    background-color: #393F4D;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    margin-top: 20px;
    color: white;
}

/* Helper classes */
.transparent-background{
    background-color: rgba(0,0,0,0.6);
}

.no-padding{
    padding: 0 !important;
}

#main-container{
    width: 100%;
    margin: auto;
    max-width: 512px;
}

#album-box{
    position: relative;
    background: url('https://placeimg.com/512/512/any');
    min-height: 512px;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#auth-box{
    color: white;
    position: absolute;
    top: 50%;
    margin: auto;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #001f24;
    padding: 10%;
    display: none;
}

#auth-box button{
    color: white;
    background-color: #0f4539;
    border: 0;
    padding: 5px;
}

.song-info{
    position: absolute;
    top: 0;
    width: 100%;
    padding: 10px;
    font-size: 30px;
    box-sizing: border-box;
}

#song-name{
    color: white;
    display: block;
}

#artist-name{
    color: #B6BABF;
}

#current-info{
    position: absolute;
    bottom: 0;
    color: white;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}

#volume{
    float: left;
}

#duration{
    float: right;
}

#player-info{
    position: absolute;
    width: inherit;
    max-width: inherit;
    bottom: 0;
    color: white;
}

.column{
    float: left;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    vertical-align: middle;
}

.column-25{
    width: 25%;
}

.column-50{
    width: 50%;
}

.prev-song, .next-song{
    background-color: #0f4539;
}

.play-pause{
    background-color: #1f7e9a;
}

.volume{
    box-sizing: border-box;
    width: 100%;
    height: 72px;
    line-height: 4.5;
}

#volume-up{
    background-color: #0f4539;
}

#volume-down{
    background-color: #001f24;
}